body {
    min-height: 100vh;
    padding: 50px;
    background: #f5f7fb;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.card {
    border: 0;
    border-radius: 16px;
}

.form-control {
    margin-bottom: 20px;
}

.form-btn {
    margin-top: 8px;
}